body{
	background-color: yellow;
}
h1{
	color: blue;
	font-size: 90px;
	text-decoration: underline;
}

h2{
	color: green;
	font-size: 45px;
}

#first{
	font-size: 175px
}

	.small{
		font-size: 12px;
	}

	span{
		font-style: italic;
	}

	h2 span{
		text-decoration: line-through;
	}